* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

.header{
    margin-left: 40px;
}
.content {
    display: flex;
    flex-wrap: wrap;  /* Allow items to wrap on smaller screens */
    justify-content: space-between;
    gap: 20px;  /* Add space between description and image */
  }
.descrip{
    flex:1;
    text-align: left;
    max-width: 800px;
    padding: 20px;
  
}
.descrip h3{
    color:#0D98BA;
    margin-bottom: 15px;
    
   
  }
  .descrip p{
    margin: 0;
    line-height: 2;
  }
  .text{
    color: #0D98BA;
  }
  select{
    width: 60%;
  }

 
.top-text2{
    line-height: 1.4;
}

.image2 img {
    width: 100%;
    max-width: 300px;  /* Set maximum width to prevent the image from being too large */
    height: auto;
  }
  .image2 {
    flex: 1;
    min-width: 300px;  /* Ensure image section doesn’t shrink too much */
    padding: 20px;
   
  }
  .butts{
    margin-top: 150px;
    display: flex;
   justify-content: center;
   align-items: center;
    gap:5px;
  }
  .buttons_1{
    margin-top: 150px;
  }
  .but3{
    padding: 8px;
    margin-right: 20px;
    background: orangered;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    border-radius: 3px;
    transition: background-color 0.3s;
  }
  .but4{
    padding:9px 15px;
    font-size: 1rem;
  cursor: pointer;
  border: none;
  border-radius: 3px;
  background-color: #0D98BA;
  color: white;
  transition: background-color 0.3s;

  }

  @media (max-width: 768px) {
    .content {
      flex-direction: column;  /* Stack items vertically */
      align-items: center;  /* Center content */
    }
  
    .image img {
      width: 80%;  /* Make image smaller on mobile */
    }
  }