.footer-search{
    justify-content: end;
}
.text{
    margin-top: 10px;
    margin-bottom: 10px;
}
.cat{
    text-align: left;
    margin-top: 30px;
    margin-bottom: 20px;
}
.foot{
    text-align: left;
}
@media (max-width: 768px) {
    .text{
        display: flex;
        flex-direction: row;
    }
    .search h5{
        font-size: 15px;
        flex: 1;
        flex-direction: row;
    }
    
    .btech{
        display: flex;
        flex-direction: row;
    }
}