.tr-contains{
    position: relative;
  }
  .tr-toc1{
   position: fixed;
   top: 0;
   left: 0;
   z-index: 1;
      
      padding: 10px;
      border-radius: 8px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
  
  }
  .tr-toc-item1 {
      display: flex;
      justify-content: space-between;
      cursor: pointer;
      padding: 5px 12px;
    }
  
    .tr-toc-title1 {
      font-weight: bold;
    }
    
    .tr-dropdown-arrow {
      transition: transform 0.2s ease;
    }
    
    .tr-dropdown-arrow.open1 {
      transform: rotate(180deg);
    }
  
    .tr-toc1 h2 {
      font-size: 18px;
      margin-bottom: 10px;
    }
    
    .tr-toc1 ul {
      list-style-type: none;
      padding: 0;
      text-align: left;
      display: block;
    }
    
    .tr-toc1 ul li {
      cursor: pointer;
      padding: 8px;
      margin: 5px 0;
      border-radius: 4px;
    }
    
    .tr-toc1 ul li:hover {
      background-color: #ddd;
    }
    
    .tr-toc1 ul li.active {
      background-color: #007bff;
      color: white;
    }
    .tr-customs{
      
      margin-top: 20px;
      padding: 30px;
      
      border-radius: 15px; /* Rounded corners for the entire section */
      box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); /* Adds shadow to give depth */
    }
    .tr-section {
      margin-bottom: 30px;
    }
    
    .tr-section h2 {
      font-size: 24px;
    }
    
    .tr-section p {
      font-size: 16px;
      line-height: 1.6;
    }
    .tr-right-text {
      justify-self: end; /* Align text to the right in the grid */
      color: #333;
      font-size: 0.8rem;
    }
    .tr-text{
      font-size: 1.5rem;
      margin-top: 10px;
    }
    .tr-container1 {
      text-align: center;
      margin-top:5px;
      background-color: black;
      padding: 3px 8px;
      border-radius: 30px;
      display: flex;
      justify-content: center;
      align-items: center;
      
    }
    .tr-selected {
      background-color: white;
      color: black;
      border-color: black;
    }
    .tr-icon-container {
      display: flex;
      justify-content: space-around;
      
      padding: 20px;
    }
    
    /* Styling for each icon and label */
    .tr-icon {
      text-align: center;
      font-size: 10px;
      margin-top: 100px;
    }
    .tr-abstract{
      text-align: left;
      padding: 30px;
    }
  
    @media (max-width: 576px){
      .tr-customs{
        padding: 0px;
        margin-left: 0px;
      }
     
      .tr-customs h3{
        font-size: 0.8rem;
      }
      .tr-customs a{
        font-size: 1rem;
      }
    }
  
    @media (max-width: 768px) {
      .tr-toc1 {
        display: none;
      }
      
     
    }