* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
 
  /* Main container */
  .app-container {
    font-family: Arial, sans-serif;
    padding: 20px;
    margin-left: 30px;
   
  }
.header{
    padding: 20px;
    text-align: left;
    margin-bottom: 40px;
}
.description{
    margin-top: 40px;
    text-align: left;
    max-width: 500px;
   
}

.description p{
 color:#0D98BA;
 font-size: 20px;
 margin: 0;
 line-height: 1;
 margin-bottom: 20px;
}
.description h6{
    margin:0;
    line-height: 1.8;
}
select {
    padding: 5px;
    margin-top: 15px;
    font-size: 16px;
    width: 90%;
  }

  .button-container{
    margin-top: 50px;
    gap:30px;
  }

  .but1{
    padding: 8px;
    margin-right: 20px;
    background: orangered;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    transition: background-color 0.3s;
  }
  .but2{
    padding:9px 15px;
    font-size: 1rem;
  cursor: pointer;
  border: none;
  background-color: #0D98BA;
  color: white;
  transition: background-color 0.3s;


  }